Required format for `site_hosts` (group_vars/{{ env }}/wordpress_sites.yml):

sameday.com:
  site_hosts:
    - canonical: sameday.com

The above is the minimum required. Multiple hosts and redirects are possible:

sameday.com:
  site_hosts:
    - canonical: sameday.com
      redirects:
        - www.sameday.com
        - site.com
    - canonical: example.co.uk
      redirects:
        - www.example.co.uk
